/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* HEADER */
header{
    height: 80px;
    background-color: #ff6900;
    display: flex;
    justify-content: center;
}

.header-container{
    height: 100%;
    min-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.logo img{
    height: 40px;
}

.categories span{
    padding: 0.3em;
}


/* MAIN */
.main-container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.col{
    width: calc(100% / 3 - 5px);
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.card{
    position: relative;
}

.second-image{
    display: none;
}

.card-image:hover .first-image{
    display: none;
}

.card-image:hover .second-image{
    display: inline-block;
}

.etiquettes{
    position: absolute;
    bottom: 80px;
    left:0;
}

.discount{
    background-color: red;
    padding: 0.4em;
    color: white;
    display:inline-block
}

.tag{
    background-color: green;
    padding: 0.4em;
    color: white;
    display:inline-block;
}

.heart{
    font-size: 2em;
    background-color: white;
    padding: 0.3em;
    position: absolute;
    right: 0;
    top: 10px;
    text-align: center;
}

.heart:hover{
    color: red;
}

.price{
    color: red;
}

del{
    color: black;
}

/* FOOTER */
footer{
    background-color: black;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}